.App {
  text-align: center;
}
input#exampleInputEmail1 {
  width: 210px;
  margin-left: 542px;
  height: 34px;
}
label.form-label {
  margin-top: 73px;
  margin-right: 92px;
}
input#exampleInputEmail2 {
  width: 221px;
  margin-left: 540px;
  height: 47px;
}
button.btn.btn-outline-danger {
  margin-left: 934px;
  font-size: 14px;
  border-radius: 27px;
  margin-top: 10px;
}
button.btn.btn-outline-secondary {
  margin-top: 14px;
  margin-left: -78px;
}